In [1]:
import pandas as pd

In [55]:
data_file = '/Users/m221138/test/multiplex.enet.tsv'
data_df = pd.read_csv(data_file, sep="\t",index_col=0)

top_file = '/Users/m221138/test/1fold.topology.tsv'
top_df = pd.read_csv(top_file, sep="\t",index_col=0)

top2_file = '/Users/m221138/test/1fold.topology.v2.tsv'
top2_df = pd.read_csv(top2_file, sep="\t",index_col=0)

In [56]:
data_df[1:5]

,acpa,sex,age,bmi,smoking,p_CRYBB2_10000-28,p_RAF1_10001-7,p_ZNF41_10003-15,p_ELK1_10006-25,p_GUCA1A_10008-43,...,p_PRSS35_9983-97,p_YIPF6_9984-12,p_NPW_9986-14,p_LRRC25_9987-30,p_LRRC24_9989-12,p_EMILIN3_9991-112,p_ZNF264_9993-11,p_ATP4B_9994-217,p_DUT_9995-6,p_UBXN4_9997-12
sex,0.0,NaN,0.000567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
age,0.0,0.532728,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
bmi,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000357,0.0,0.0
smoking,0.0,0.000000,0.000000,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [60]:
data_df["acpa"]["p_CFD_13678-169"]

0.0

In [66]:
data_df[1:5]

,acpa,sex,age,bmi,smoking,p_CRYBB2_10000-28,p_RAF1_10001-7,p_ZNF41_10003-15,p_ELK1_10006-25,p_GUCA1A_10008-43,...,p_PRSS35_9983-97,p_YIPF6_9984-12,p_NPW_9986-14,p_LRRC25_9987-30,p_LRRC24_9989-12,p_EMILIN3_9991-112,p_ZNF264_9993-11,p_ATP4B_9994-217,p_DUT_9995-6,p_UBXN4_9997-12
sex,0.0,NaN,0.000567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
age,0.0,0.532728,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
bmi,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000357,0.0,0.0
smoking,0.0,0.000000,0.000000,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [68]:
data_df["p_HPX_15347-12"]["acpa"]

-4.60811217439342e-07

In [69]:
data_df["acpa"]["p_HPX_15347-12"]

-399.002984443851

In [63]:
data_df["p_S100A10_15318-75"]["p_H1-10_12709-63"]
data_df["p_H1-10_12709-63"]["p_S100A10_15318-75"]

0.0190160949105862

In [65]:
top_df["p_S100A10_15318-75"]["p_H1-10_12709-63"]
# top_df["p_H1-10_12709-63"]["p_S100A10_15318-75"]

1

In [57]:
top_df[1:5]

,acpa,p_H1-10_12709-63,p_CFD_13678-169,p_S100A10_15318-75,p_HPX_15347-12,p_PGAM2_15524-30,p_CKMT1A_15542-19,p_CR2_15570-99,p_GSN_16607-78,p_BLVRB_17148-7,...,p_CPE_5343-74,p_KHDC1L_21804-15,p_PTHLH_2962-50,p_NCAM1_20161-41,p_IRF1_17462-19,p_LILRB2_5091-28,p_RAB37_23282-19,p_GPT2_21339-19,p_M1AP_23685-132,p_HAUS1_21306-7
p_H1-10_12709-63,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
p_CFD_13678-169,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
p_S100A10_15318-75,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
p_HPX_15347-12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
# top_df["p_HPX_15347-12"]["p_H1-10_12709-63"]
top_df["p_H1-10_12709-63"]["p_HPX_15347-12"]

0

In [72]:
top2_df["p_HPX_15347_12"]["p_H1_10_12709_63"]
top2_df["p_H1_10_12709_63"]["p_HPX_15347_12"]

0.0

In [47]:
data_df["p_H1-10_12709-63"]["acpa"]

-8.99468814578005e-06

In [49]:
top_df["p_H1-10_12709-63"]["acpa"]

-8.99468814578005e-06

In [50]:
data_df["acpa"]["p_H1-10_12709-63"]

0.0

In [51]:
top_df["acpa"]["p_H1-10_12709-63"]

0.0

In [48]:
top_df["p_H1-10_12709-63"]["p_S100A10_15318-75"]

0.0190160949105862

In [31]:
data_df["p_CFD_13678-169"]["age"]

9.80780894639428e-06

In [33]:
data_df["age"]["sex"]

0.0005669481744132

In [34]:
data_df["sex"]["age"]

0.532728383913631