In [15]:
import pandas as pd

patient_info_file = "/Users/m221138/RA_acpa_multiomics/preprocessed_data/meta/patient_info_for_statistics.tsv"
three_omics_file = "/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex.tsv"

patient_info_df = pd.read_csv(patient_info_file, sep="\t", index_col=0)

In [34]:
three_omics_df = pd.read_csv(three_omics_file, sep="\t", index_col=0)
three_omics_df.columns = three_omics_df.columns.astype(int)

In [35]:
three_omics_df = three_omics_df[5:].T

In [36]:
result_df = patient_info_df.join(three_omics_df, how="outer")

In [43]:
result_df.to_csv("/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex_with_all_covariates.tsv", sep="\t")

In [42]:
result_df["age"][1401405787]

63.00068446

In [41]:
patient_info_df

,mayo_ID,acpa,sex,age,bmi,rf,smoking,rf_tit,acpa_tit,crp,...,infliximab,etanercept,adalimumab,golimumab,certolizumab,tocilizumab,anakinra,abatacept,rituximab,pred
sample_ID,,,,,,,,,,,,,,,,,,,,,
1402101782,10663503,0,0,41.010267,47.8923,NaN,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1401405787,1867679,0,0,63.000684,21.7100,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1305800706,2939561,0,1,59.994524,28.7801,NaN,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1431803035,9898318,0,0,44.785763,21.2299,NaN,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1315600833,2919944,0,1,63.000684,26.7382,NaN,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19311028306,5415792,2,0,40.100000,21.9000,1.0,0.0,NaN,NaN,2.9,...,0,0,0,0,0,0,0,0,0,0
1510603533,2849998,2,0,64.000000,31.4000,2.0,0.0,14.9,15.5,3.6,...,0,0,0,0,0,0,0,0,0,1
19066026481,4159407,2,0,39.700000,28.2000,2.0,0.0,NaN,NaN,11.0,...,0,0,0,0,0,0,0,0,0,0
1434100114,3025155,2,1,70.000000,23.7000,2.0,0.0,14.0,15.5,4.3,...,0,0,0,0,1,0,0,0,0,1
1513502608,5153171,2,0,56.000000,26.5000,2.0,0.0,14.9,15.5,2.9,...,0,0,0,0,0,0,0,0,0,1