In [1]:
#basic_demographics
#
#identify clinical characteristics is associated to the population acpa status.

library("vegan")
library("dplyr")

Loading required package: permute

Loading required package: lattice

This is vegan 2.6-4


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [18]:
#load data, make class (i.e., control, acpa+, acpa-) specific data frame for convenience
# data_file = '/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex_with_all_covariates.tsv'
data_file = '/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex_with_all_covariates_v3.tsv'

#all class
data_df <- read.csv(data_file, sep="\t")

In [20]:
data_df[,17:18]

    csDMARDS bDMARDs
1   1        1
2   1        0
3   1        0
4   1        0
5   1        0
6   1        0
7   1        0
8   1        1
9   1        0
10  0        1
11  1        0
12  1        0
13  1        0
14  1        0
15  1        0
16  1        0
17  1        1
18  0        1
19  0        0
20  0        0
21  1        0
22  1        0
23  1        0
24  1        0
25  1        0
26  1        1
27  1        1
28  0        0
29  0        0
30  0        0
⋮   ⋮        ⋮
87  0        0
88  0        0
89  0        0
90  0        0
91  0        0
92  0        0
93  0        0
94  0        0
95  0        0
96  0        0
97  0        0
98  0        0
99  0        0
100 0        0
101 0        0
102 0        0
103 0        0
104 0        0
105 0        0
106 0        0
107 0        0
108 0        0
109 0        0
110 0        0
111 0        0
112 0        0
113 0        0
114 0        0
115 0        0
116 0        0

In [5]:
#3class
for (i in 17:32)
{
    # print (colnames(ra_df)[i])
    result <- adonis2(data_df[,33:ncol(data_df)] ~ data_df[,i])
    output_str <- paste(colnames(data_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "mtx: 0.2"
[1] "hcq: 0.063"
[1] "ssz: 0.181"
[1] "lef: 0.38"
[1] "aza: NA"
[1] "tofacitinib: NA"
[1] "infliximab: NA"
[1] "etanercept: 0.812"
[1] "adalimumab: 0.762"
[1] "golimumab: NA"
[1] "certolizumab: 0.62"
[1] "tocilizumab: 0.637"
[1] "anakinra: NA"
[1] "abatacept: 0.944"
[1] "rituximab: 0.089"
[1] "pred: 0.339"

In [7]:
#2class
ra_df <- filter(data_df, acpa == 1 | acpa == 2)

#protein features: ncol(ra_df[,33:ncol(ra_df)])
# adonis2(ra_df[,33:ncol(ra_df)] ~ mtx + hcq + ssz + lef + aza + tofacitinib + infliximab + etanercept + adalimumab + golimumab + certolizumab + tocilizumab + anakinra + abatacept +  rituximab + pred, data=ra_df)

for (i in 17:32)
{
    # print (colnames(ra_df)[i])
    result <- adonis2(ra_df[,33:ncol(ra_df)] ~ ra_df[,i])
    output_str <- paste(colnames(ra_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "mtx: 0.047"
[1] "hcq: 0.027"
[1] "ssz: 0.123"
[1] "lef: 0.291"
[1] "aza: NA"
[1] "tofacitinib: NA"
[1] "infliximab: NA"
[1] "etanercept: 0.806"
[1] "adalimumab: 0.652"
[1] "golimumab: NA"
[1] "certolizumab: 0.554"
[1] "tocilizumab: 0.663"
[1] "anakinra: NA"
[1] "abatacept: 0.94"
[1] "rituximab: 0.06"
[1] "pred: 0.458"

In [5]:
#2class
subset_df <- filter(data_df, acpa == 0 | acpa ==1)

#protein features: ncol(ra_df[,33:ncol(ra_df)])
# adonis2(ra_df[,33:ncol(ra_df)] ~ mtx + hcq + ssz + lef + aza + tofacitinib + infliximab + etanercept + adalimumab + golimumab + certolizumab + tocilizumab + anakinra + abatacept +  rituximab + pred, data=ra_df)

for (i in 17:32)
{
    # print (colnames(ra_df)[i])
    result <- adonis2(subset_df[,33:ncol(subset_df)] ~ subset_df[,i])
    output_str <- paste(colnames(subset_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "mtx: 0.378"
[1] "hcq: 0.098"
[1] "ssz: 0.275"
[1] "lef: 0.939"
[1] "aza: NA"
[1] "tofacitinib: NA"
[1] "infliximab: NA"
[1] "etanercept: 0.815"
[1] "adalimumab: 0.739"
[1] "golimumab: NA"
[1] "certolizumab: 0.657"
[1] "tocilizumab: NA"
[1] "anakinra: NA"
[1] "abatacept: 0.656"
[1] "rituximab: NA"
[1] "pred: 0.968"

In [6]:
#2class
subset_df <- filter(data_df, acpa == 0 | acpa == 2)

#protein features: ncol(ra_df[,33:ncol(ra_df)])
# adonis2(ra_df[,33:ncol(ra_df)] ~ mtx + hcq + ssz + lef + aza + tofacitinib + infliximab + etanercept + adalimumab + golimumab + certolizumab + tocilizumab + anakinra + abatacept +  rituximab + pred, data=ra_df)

for (i in 17:32)
{
    # print (colnames(ra_df)[i])
    result <- adonis2(subset_df[,33:ncol(subset_df)] ~ subset_df[,i])
    output_str <- paste(colnames(subset_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "mtx: 0.551"
[1] "hcq: 0.567"
[1] "ssz: 0.676"
[1] "lef: 0.294"
[1] "aza: NA"
[1] "tofacitinib: NA"
[1] "infliximab: NA"
[1] "etanercept: 0.937"
[1] "adalimumab: NA"
[1] "golimumab: NA"
[1] "certolizumab: 0.178"
[1] "tocilizumab: 0.698"
[1] "anakinra: NA"
[1] "abatacept: 0.658"
[1] "rituximab: 0.111"
[1] "pred: 0.31"

In [8]:
for (i in 4:6)
{
    result <- adonis2(data_df[,33:ncol(data_df)] ~ data_df[,i])
    output_str <- paste(colnames(data_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "sex: 0.263"
[1] "age: 0.232"
[1] "bmi: 0.074"

In [9]:
subset_df <- filter(data_df, acpa == 0 | acpa == 2)

for (i in 4:6)
{
    result <- adonis2(subset_df[,33:ncol(subset_df)] ~ subset_df[,i])
    output_str <- paste(colnames(subset_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "sex: 0.408"
[1] "age: 0.103"
[1] "bmi: 0.307"

In [17]:
subset_df <- filter(data_df, acpa == 0 | acpa == 1)

for (i in 4:6)
{
    result <- adonis2(subset_df[,33:ncol(subset_df)] ~ subset_df[,i])
    output_str <- paste(colnames(subset_df)[i], result$Pr[1],sep=": ")
    print (output_str)
}

[1] "sex: 0.482"
[1] "age: 0.374"
[1] "bmi: 0.026"

In [9]:
#this smoking data removed N/A values
data_file = '/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex_with_all_covariates_v2_for_smoke.tsv'

#all class
data_df <- read.csv(data_file, sep="\t")

adonis2(data_df[,33:ncol(data_df)] ~ smoking, data=data_df)

         Df  SumOfSqs   R2         F        Pr(>F)
smoking    1 0.02610379 0.01509154 1.746798 0.097
Residual 114 1.70359291 0.98490846       NA    NA
Total    115 1.72969670 1.00000000       NA    NA

In [10]:
data_file = '/Users/m221138/RA_acpa_multiomics/preprocessed_data/3_omics/three_omics_multiplex_with_all_covariates_v2.tsv'

#all class
data_df <- read.csv(data_file, sep="\t")

In [31]:
adonis2(data_df[,35:ncol(data_df)] ~ csDMARDS, data= data_df)

         Df  SumOfSqs   R2         F        Pr(>F)
csDMARDS   1 0.04015045 0.02266337 2.736291 0.032
Residual 118 1.73145067 0.97733663       NA    NA
Total    119 1.77160113 1.00000000       NA    NA